<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-geral">
        <div class="container-fluid">
            <a class="navbar-brand cor-text-branco" href="{{ url_for('dashboard') }}"><img src="/static/img/controle.png" class="img-navbar"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link cor-text-branco" href="{{ url_for('dashboard') }}">DASHBOARD GESTOR</a>
                    </li>
                    <li class="nav-item dropdown cor-text-branco">
                        <a class="nav-link dropdown-toggle cor-text-branco" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Usuários
                        </a>
                        <ul class="dropdown-menu navbar-geral cor-text-branco">
                            <li><a class="dropdown-item cor-text-branco" href="{{ url_for('cadastro_users') }}">Cadastro de Usuários</a></li>
                            <li><a class="dropdown-item cor-text-branco" href="{{ url_for('lista_users') }}">Listagem de Usuários</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown cor-text-branco">
                        <a class="nav-link dropdown-toggle cor-text-branco" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Jogos
                        </a>
                        <ul class="dropdown-menu navbar-geral">
                            <li><a class="dropdown-item cor-text-branco" href="{{ url_for('cadastro_jogos') }}">Cadastro de Jogos</a></li>
                            <li><a class="dropdown-item cor-text-branco" href="{{ url_for('lista_jogos') }}">Listagem de Jogos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown navbar-geral">
                        <a class="nav-link dropdown-toggle cor-text-branco" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Plataformas
                        </a>
                        <ul class="dropdown-menu navbar-geral">
                            <li><a class="dropdown-item cor-text-branco" href="{{ url_for('cadastro_plataformas') }}">Cadastro de Plataformas</a></li>
                            <li><a class="dropdown-item cor-text-branco" href="{{ url_for('lista_plataformas') }}">Listagem de Plataformas</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex ms-auto">
                    <input class="form-control me-2" type="search" placeholder="Buscar...">
                    <a class="btn btn-outline-danger" href="{{ url_for('login') }}">SAIR</a>
                </form>
            </div>
        </div>
    </nav>
    <div class="conteudo-pagina">
        <div class="bloco-pagina">
            <div class="titulo-pagina">
                <h1>CADASTRO DE USUÁRIO</h1>
            </div>
            <div class="form-cadastro-geral">
        <form class="form-cadastro row g-3">
            <div class="col-md-6">
                <label for="nome-user" class="form-label">Nome:</label>
                <input type="text" class="form-control" id="nome-user" name="nome-user" placeholder="Nome Completo..." required>
            </div>
            <div class="col-md-6">
                <label for="email-user" class="form-label">E-mail:</label>
                <input type="email" class="form-control" id="email-user" name="email-user" placeholder="Ex: usuario@email.com" required>
            </div>
            <div class="col-md-3">
                <label for="telefone-user" class="form-label">Celular:</label>
                <input type="tel" class="form-control" id="telefone-user" name="telefone-user" placeholder="Ex: 998765432" required>
            </div>
            <div class="col-md-3">
                <label for="data-nasc-user" class="form-label">Data de Nascimento:</label>
                <input type="date" class="form-control" id="data-nasc-user" name="data-nasc-user" placeholder="Ex: 44/44/4444" required>
            </div>
            <div class="col-md-3">
                <label for="cpf-user" class="form-label">CPF:</label>
                <input type="number" class="form-control" id="cpf-user" name="cpf-user" placeholder="Ex: 111.111.111.-11" required>
            </div>
            <div class="col-md-3">
                <label for="nivel-user" class="form-label">Nivel de Acesso:</label>
                <select id="inputState" class="form-select" id="nivel-user" name="nivel-user" required>
                    <option selected>--ESCOLHA--</option>
                    <option>Admin</option>
                    <option>Cliente</option>
                    <option>Funcionário</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="cep-user" class="form-label">CEP:</label>
                <input type="number" class="form-control" id="cep-user" name="cep-user" placeholder="Ex: 12345-678" required>
            </div>
            <div class="col-md-6">
                <label for="endereco-user" class="form-label">Endereço:</label>
                <input type="text" class="form-control" id="endereco-user" name="endereco=user" placeholder="Ex: Rua xxxx" required>
            </div>
            <div class="col-md-3">
                <label for="numero-user" class="form-label">Número:</label>
                <input type="number" class="form-control" id="numero-user" name="numero-user" placeholder="Ex: 100" required>
            </div>
            <div class="col-md-4">
                <label for="complemento-user" class="form-label">Complemento:</label>
                <input type="text" class="form-control" id="complemento-user" name="complemento-user" placeholder="Ex: apto 10" required>
            </div>
            <div class="col-md-4">
                <label for="cidade-user" class="form-label">Cidade:</label>
                <input type="text" class="form-control" id="cidade-user" name="cidade-user" placeholder="Ex: Jaú" required>
            </div>
            <div class="col-md-4">
                <label for="estado-user" class="form-label">Estado:</label>
                <select id="inputState" class="form-select" id="estado-user" name="estado-user" required>
                    <option selected>--ESCOLHA--</option>
                    <option>Amazonas</option>
                    <option>Bahia</option>
                    <option>Mato Grosso</option>
                    <option>Santa Catarina</option>
                    <option>São Paulo</option>
                </select>
            </div>
            <div class="div-btn-cadastro">
                <a class="btn btn-primary" href="{{ url_for('lista_users') }}">CADASTRAR USUÁRIO</a>
                
            </div>
        </form>
    </div>
        </div>

    </div>



    <footer class="footer-geral">
        <div>
            <p>DESENVOLVIDO POR GUILHERME RAFAEL ROSA E PEDRO HENRIQUE PIOTO ZANUTTO</p>
        </div>
    </footer>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>